.command-container{

    grid-column:1 / 4;

    display:grid;
    grid-template-columns: 3fr 1.5fr;

    gap:20px;

    margin-top:20px;

}


.terminal-box{

    border:1px solid #303030;
    border-radius:12px;

    padding:15px;

    background:#171717;

}


.terminal-box h2{

    color:#ff5b4d;

    font-size:20px;

    margin-bottom:10px;

}



.terminal-input{

    display:flex;

    gap:10px;

}



.terminal-input input{

    flex:1;

    background:black;

    border:1px solid #333;

    color:white;

    padding:10px;

}



.terminal-input button{

    width:80px;

    background:#111;

    color:white;

    border:1px solid #555;

}





.mission-controls{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:15px;

    background:#171717;

    border:1px solid #303030;

    border-radius:12px;

    padding:15px;

}




.start-btn,
.stop-btn{

    flex:1;

    height:50px;

    border:none;

    border-radius:8px;

    font-weight:bold;

    color:white;

    cursor:pointer;

}



.start-btn{

    background:#1fa43b;

}



.stop-btn{

    background:#c92b36;

}


.start-btn:hover{

    background:#27c84a;

}


.stop-btn:hover{

    background:#ed3d4b;

}