.system-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sys-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 8px;
}

.system-info{
    min-height: 350px;
}

.system-info h2{
    color:#ff5b4d;
    text-transform:uppercase;
    letter-spacing:1px;
}

.sys-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin:18px 0;
}

.sys-right{
    display:flex;
    align-items:center;
    gap:12px;
}

.progress{
    width:80px;
    height:6px;

    background:#4a2f2f;

    border-radius:20px;

    overflow:hidden;
}

.fill{
    height:100%;
    border-radius:20px;
}

.cpu{
    width:32%;
    background:#64ff5c;
}

.ram{
    width:45%;
    background:#ffcc33;
}

.storage{
    width:62%;
    background:#ff9f43;
}

.signal{
    display:flex;
    align-items:flex-end;
    gap:4px;
}

.signal span{
    width:6px;
    background:#64ff5c;
    border-radius:2px;
}

.signal span:nth-child(1){
    height:8px;
}

.signal span:nth-child(2){
    height:13px;
}

.signal span:nth-child(3){
    height:18px;
}

.signal span:nth-child(4){
    height:24px;
}